<!DOCTYPE html>
<html>
  <head>
    <title>Generated UI</title>
    <link href="../../frontend/web/static/text_input.css" rel="stylesheet">
    <link href="../../frontend/web/static/container.css" rel="stylesheet">
    <link href="../../frontend/web/static/button.css" rel="stylesheet">
    <link href="../../frontend/web/static/h1.css" rel="stylesheet">
    <link href="../../frontend/web/static/gray-text.css" rel="stylesheet">
    <link href="../../frontend/web/static/h3.css" rel="stylesheet">
    <link href="../../frontend/web/static/a.css" rel="stylesheet">
    <link href="../../frontend/web/static/checkbox.css" rel="stylesheet">
    <link href="../../frontend/web/static\style.css" rel="stylesheet">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <style>
            html, body {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            body {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        </style>
    <script src="../../frontend/web/static/actions.js"></script>
    <script src="../../frontend/web/static/runtime.js"></script>
  </head>
  <body>
    <div class="container" style="">
      <div class="container" style="display:flex; flex-direction:column; gap:12px">
        <h1 class="h1" style="">Вход</h1>
        <div class="container" style="display:flex; flex-direction:row">
          <h3 class="h3 gray-text" style="">Нет аккаунта?</h3>
          <a class="a" href="#" style="">Регистрация</a>
        </div>
        <input class="text-input" data-bind="email" placeholder="user@gmail.com" style="" type="text">
        <input class="text-input" data-bind="password" placeholder="Пароль" style="" type="password">
        <div class="container" style="display:flex; flex-direction:row">
          <h3 class="h3" style="">Сосал?</h3>
          <input class="checkbox" data-bind="remember_me" style="" type="checkbox">
        </div>
        <button class="button" data-action="submit" data-endpoint="auth.login" style="" type="button">Отправить</button>
      </div>
    </div>
  </body>
</html>